.container-fluid {
    --bs-gutter-x: 0 !important;
    width: 100% !important;

    box-sizing: border-box;
}
.container{
    max-width: 1187px !important;
    --bs-gutter-x: 0 !important;
}

.info_bus {
    width: 100%;
    background-color: #002B3D ;
    padding: 20px;
    color: white;
    margin-bottom: 30px;
}
.top_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}
.bottom_info_bus {
    display: flex;
    justify-content: space-between;
}
.bottom_info_bus .left_into {
    margin-bottom: 15px;
    margin-right: 50px;
}
p,
i,
h3 {
    font-size: 18px;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
}
.bus-icon {
    font-size: 40px !important;
}

.line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
}
.dashed-line {
    width: 10px;
    height: 2px;
    background: transparent;
    border-top: 2px dashed #fff;
}
.bus-icon {
    font-size: 20px;
}

/*  */
.status {
    position: absolute;
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, -40%); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.status_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-right: 50px;
    align-items: center;
}

.status_box{
    width: 50px;
    height: 50px;
}

.status_item .booked {
    background: #F0F0F0;
    border-radius: 10px;
}
.status_item .available {
    border: 1px solid green;
    border-radius: 10px;

}
/*  */
.bus-seating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    max-width: 500px !important;
    width: 100%;
    padding: 20px;
}

.seat-row .seat{
    margin-bottom: 20px;
    width: 100px;
    height: 160px;
    border: 1px solid green;
    border-radius: 10px;
}
