header {
    background-color: #002B3D;
    color: white;
    width: 100%;
    padding: 40px 0;
    display: flex;
    height: 150px;
    justify-content: space-between;
    border-top: 5px solid #FFC107;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.logo img {
    height: 200px;
    margin-left: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 0;
    display: inline-block;
    position: relative;
}


/* Hover gạch dưới */

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FFC107;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
}


/* Hotline */

.hotline a {
    background-color: #FFC107;
    color: #002B3D;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 5px;
}

.phone-icon {
    font-size: 20px;
}


/* User Profile Icon */

.header-right {
    display: flex;
    align-items: center;
    gap: 55px;
    margin-right: 25px;
}

.user-profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.user-profile img:hover {
    transform: scale(1.1);
}