* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 100%;
    text-align: center;
    align-items: center;
}


/* Banner */

.banner {
    position: relative;
    width: 100%;
    height: auto;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    border-radius: 10px;
}


/* Search Form */

.search-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX( -78%);
    z-index: 10;
    width: 90%;
    background: rgb(67, 96, 112);
    padding: 35px;
    margin-left: 280px;
    margin-right: 20px;
    margin-top: -70px;
    border-radius: 20px;
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    /* margin: 30px auto; */
    text-align: left;
}

.form-container {
    background: rgb(250, 251, 251);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
}

.form-group {
    background: rgb(253, 254, 255);
    flex: 1;
    margin: 15px;
    border-radius: 20px;
}

.form-group label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 0px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #ffc107;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 25px;
    margin-top: 40px;
}


/* Responsive */

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }
    .btn {
        width: 100%;
    }
}


/* Steps */

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #111;
}

.way-container {
    background: rgb(250, 251, 251);
    padding: 25px;
    margin: 35px;
    margin-top: 65px;
}

.steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}

.step {
    background: white;
    padding: 20px;
    width: 240px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.step img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.step-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.step-desc {
    font-size: 15px;
    color: #555;
}

.arrow {
    font-size: 24px;
    color: #888;
}

@media (max-width: 768px) {
    .steps {
        flex-direction: column;
    }
    .arrow {
        display: none;
    }
}


/* Route List */

.route-container h2 {
    font-size: 35px;
    margin-bottom: 20px;
    margin: 30px;
    margin-top: 65px;
}

.route-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.route-card {
    background: white;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Đẩy nút xuống đáy */
    ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
}

.route-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.route-info {
    padding: 15px;
}

.route-title {
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

.route-divider {
    border-top: 2px dashed red;
    margin: 10px 0;
}

.route-details {
    font-size: 14px;
    color: #444;
}

.route-time {
    margin: 5px 0;
}

.route-meta {
    font-size: 13px;
    color: #666;
    margin-top: 5px;
}

.book-btn {
    display: block;
    text-align: center;
    bottom: 0;
    width: 100%;
    background: #525961;
    margin-bottom: 0px;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
}


/* Features */

.extention-container {
    bottom: 20px;
}

.extention-container h2 {
    font-size: 35px;
    margin-bottom: 20px;
    margin: 30px;
    margin-top: 65px;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.feature {
    background: white;
    width: 24%;
    text-align: left;
    border-radius: 20px;
    overflow: hidden;
}

.feature img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.feature-content {
    padding: 20px;
}

.feature-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature-text {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.feature-list {
    list-style: none;
    padding: 0;
}

.feature-list li {
    font-size: 14px;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.feature-list li::before {
    content: "✔️";
    color: #f4a900;
    margin-right: 8px;
    font-size: 16px;
}

@media (max-width: 900px) {
    .features {
        flex-direction: column;
        align-items: center;
    }
    .feature {
        width: 90%;
    }
}